.card {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 16%;
}
.card-img {
  width: 100%
}
.card p {
  font-size: 20px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
.card p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}
.card p:last-of-type:hover {
  color: palevioletred;
}
.btn {
  margin: .2rem .1vw;
}

.card {
  margin-bottom: 2.5vw;
}

.card>div {
  height: 2vw;
  text-align: center;
}